<footer>
    {% for section in site.footer.sections %}
    <section>
        <h4>{{ section.title }}</h4>
        {% if section.content %}
            {{ section.content | markdown | safe }}
        {% endif %}
        {% if section.list %}
            <ul>
            {% for item in section.list %}
                <li>{{ item | markdownInline | safe }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
    {% endfor %}
</footer>
