{#
  Generic Actions Component

  Displays action buttons for any content item (FAQ, guidance, list, etc.)

  Parameters (passed via `item` variable):
  - item.type: String
  - item.editOnGithubUrl: String
  - item.relatedIssues: Array of { url, number } (optional)
  - item.permalink: String (optional)
  - page.url: String (optional)
#}
{% if item.type == "list" %}
  {% set type = "list" %}
{% elif item.type == "faq" %}
  {% set type = "FAQ" %}
{% else %}
  {% set type = "guidance request" %}
{% endif %}

<div class="actions">
  <div class="admin-links">
    {% if item.relatedIssues %}
      {% set relatedIssues = item.relatedIssues %}
      {% include "components/related-issues.njk" %}
    {% endif %}
  </div>

  <div class="regular-actions">
    {% if item.editOnGithubUrl and item.editOnGithubUrl.length > 0 %}
      <a href="{{ item.editOnGithubUrl}}" class="action-button" target="_blank" rel="noopener" title="Edit this {{ type }} on GitHub">
        {% include "icons/edit.svg" %}
        <span>Edit on GitHub</span>
      </a>
    {% endif %}
    
    

    <button class="action-button" data-permalink="{{ item.permalink }}" title="Copy the link to this {{ type }}" aria-label="Copy link to {{ type }}">
      {% include "icons/copy.svg" %}
      {% if item.type == "list" %}
        <span>Copy link to list</span>
      {% else %}
        <span>Copy link</span>
      {% endif %}
    </button>

    {% if item.permalink != page.url %}
      <a href="{{ item.permalink }}" class="action-button" title="Go to {{ type }} page">
        <span>Go to page</span>
        {% include "icons/arrow-right.svg" %}
      </a>
    {% endif %}
  </div>
</div>