{% if faq.isNew %}
  <data class="badge important" data-emoji="🌟" value="new">New</data>
{% elif faq.recentlyUpdated %}
  <data class="badge important" data-emoji="💫" value="recently-updated">Recently Updated</data>
{% endif %}