{% if faq._isNew %}
  <data class="badge important" data-emoji="🌟" value="new">New</data>
{% endif %}

{% if faq._recentlyUpdated %}
  <data class="badge important" data-emoji="💫" value="recently-updated">Recently Updated</data>
{% endif %}
