---
layout : layout.njk
title: OOPSIE! Not Found
permalink: /404.html
homelink: /
---

<section class="section-intro">
  <h1>404 - Page Not Found</h1>
  <p>Sorry, it seems you're lost </p>
</section>

<nav class="card-grid half-width">
  <a href="{{ homelink }}" class="card">
    <p>you can go back to the homepage HERE</p>
  </a>
</nav>