---
layout: layout.njk
pagination:
  data: data.lists
  size: 1
  alias: list
  addAllPagesToCollections: true
permalink: "{{ list.permalink }}/"
eleventyComputed:
  title: "{{ list.title }}"
---

<section class="section-intro">
  <p>{{ list.description }}</p>
</section>

<article class="section-card">
{% set componentData = {
  title: list.title,
  icon: list.icon,
  faqs: list.faqs
} %}
{% include "components/faq-accordion.njk" %}
</article>
