---
layout: layout.njk
pagination:
  data: data.curatedLists
  size: 1
  alias: list
  addAllPagesToCollections: true
permalink: "{{ list.permalink }}/"
eleventyComputed:
  title: "{{ list.title }}"
---

<div class="curated-list-description">
  <p>{{ list.description }}</p>
</div>

<article>
{% set componentData = {
  title: list.title,
  icon: list.icon,
  faqs: list.faqs,
  mode: "accordion",
  showAdminIndicators: false
} %}
{% include "components/faq-list.njk" %}
</article>
