---
layout: layout.njk
pagination:
  data: curatedLists
  size: 1
  alias: listData
  addAllPagesToCollections: true
permalink: "/lists/{{ listData.key }}/"
eleventyComputed:
  title: "{{ listData.value.title }}"
---

<div class="curated-list-description">
  <p>{{ listData.value.description }}</p>
</div>

{% set componentData = {
  title: listData.value.title,
  faqs: listData.value.items,
  mode: "accordion",
  showAdminIndicators: false
} %}
{% include "components/faq-list.njk" %}

