---
layout: layout.njk
pagination:
  data: data.lists
  size: 1
  alias: list
  addAllPagesToCollections: true
permalink: "{{ list.permalink }}"
eleventyComputed:
  title: "{{ list.title }}"
---

<section class="section-intro">
  <p>{{ list.description }}</p>
</section>

{% set componentData = list %}
{% include "components/faq-accordion.njk" %}
