---
layout: layout.njk
pagination:
  data: data.faqs
  size: 1
  alias: item
permalink: "{{ item.permalink }}"
eleventyComputed:
  title: "{{ item.pageTitle }}"
---

<article class="section-card">
  <h1 class="section-header">{{ item.question | markdownInline | safe }}</h1>
  {{ item.answer | markdown | safe }}

  {% set faq = item %}

  {% include "components/faq-warning.njk" %}
  
  {% include "components/faq-actions.njk" %}
</article>
