---
layout: layout.njk
permalink: "/"
---

<section class="section-intro">
  <p>Welcome to the Cyber Resilience Act FAQ. Find answers to common questions about the CRA and its implications for software developers, maintainers, and businesses.</p>
</section>

<nav class="card-grid half-width">
  {% for nav in site.navigation %}
  <a href="{{ nav.url }}" class="card">
    <h2>{{ nav.title }}</h2>
    <p>{{ nav.description }}</p>
  </a>
  {% endfor %}
</nav>
